@import 'basscss-base-reset';
@import 'basscss-base-typography';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-white-space';
@import 'basscss-positions';
@import 'basscss-responsive-states';
@import 'basscss-borders';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-defaults';
@import 'basscss-grid';
@import 'basscss-responsive-white-space';

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 0.1em;
}

a:visited { color: inherit; }

/* @import 'basscss-base-forms'; */
/* @import 'basscss-base-tables'; */
/* @import 'basscss-color-base'; */
/* @import 'basscss-color-forms'; */
/* @import 'basscss-color-tables'; */
/* @import 'basscss-btn'; */
/* @import 'basscss-btn-primary'; */
/* @import 'basscss-btn-outline'; */
/* @import 'basscss-align'; */
/* @import 'flex-object'; */
/* @import 'basscss-utility-layout'; */


